[submodule "SourceCode/dll-injector"]
	path = SourceCode/dll-injector
	url = git@github.com:dennisfischer/dll-injector.git
[submodule "SourceCode/dll-injector-sample"]
	path = SourceCode/dll-injector-sample
	url = git@github.com:dennisfischer/dll-injector-sample.git
[submodule "SourceCode/ProcessDACL"]
	path = SourceCode/ProcessDACL
	url = git@github.com:dennisfischer/ProcessDACL.git
[submodule "SourceCode/TLS-Callback"]
	path = SourceCode/TLS-Callback
	url = git@github.com:dennisfischer/TLS-Callback.git
