[submodule "SourceCode/dll-injector"]
	path = SourceCode/dll-injector
	url = ../dll-injector.git
[submodule "SourceCode/dll-injector-sample"]
	path = SourceCode/dll-injector-sample
	url = ../dll-injector-sample.git
[submodule "SourceCode/ProcessDACL"]
	path = SourceCode/ProcessDACL
	url = ../ProcessDACL.git
[submodule "SourceCode/TLS-Callback"]
	path = SourceCode/TLS-Callback
	url = ../TLS-Callback.git
[submodule "SourceCode/ProcessProtectionDriver"]
	path = SourceCode/ProcessProtectionDriver
	url = ../ProcessProtectionDriver.git
